
.homepage .imgplacement {
  height: 450px;
  width: 100%;
  background-color: red;
  border: 2px solid green;
}
.homepage .ideacontainer {
  text-transform: uppercase;
  text-align: center;
  color: var(--light);
  border:2px solid green;
}
.homepage .title {
  height: 35px;
  font-size: 35px;
  text-align: start;
}
.homepage .scroll-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.5rem;
  padding-top: 0.3rem; 
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
}
.homepage .scrollcontainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100vw;
  overflow: hidden;
}
.homepage h2 {
  color: black;
}
.homepage .mealcardscontainer,.homepage .dessertcardscontainer {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid white;
   z-index: 0;
}
.homepage .scroll-btn.left {
  left: 10px;
}

.homepage .scroll-btn.right {
  right: 10px;
}
.homepage .mealscard,.homepage .dessertcard {
  flex: 0 0 auto;
  width: 250px;
  height: 200px;
  background-color : yellow;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}