.homepage {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: calc(100svh - 60px);
}

.homepage .imgheader {
  height: 20svh;
  min-height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage h1 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 10.5rem;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
}

.homepage .imgplacement {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.homepage .ideacontainer {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.homepage .listofrecipe {
  height: 50%;
  min-height: 250px;
}

.homepage .title {
  height: 40px;
  font-size: 38px;
  font-weight: bold;
  text-align: start;
  color: black;
  padding-left: 10px;
}

.homepage .scroll-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.5rem;
  padding-top: 0.3rem;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
}

.homepage .scrollcontainer {
  height: calc(100% - 40px);
  min-height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.homepage h2,
.homepage ul,
.homepage p {
  color: black;
}

.homepage .mealcardscontainer,
.homepage .dessertcardscontainer {
  min-height: 200px;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.2rem;
  width: 100%;
  z-index: 0;
}

.homepage .scroll-btn.left {
  left: 10px;
}

.homepage .scroll-btn.right {
  right: 10px;
}

.homepage .mealscard,
.homepage .dessertcard {
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;
  height: 100%;
  min-height: 100px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.homepage .mealscard .bgdimg,
.homepage .dessertcard .bgdimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.imgcardcontainer .heartIcon {
  width: 24px;
  height: 24px;
}

.imgcardcontainer {
  position: relative;
  width: 100%;
}

.imgcardcontainer .homefavbtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.homepage .mealscard h2,
.homepage .dessertcard h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: clamp(15px, 1.6svh, 24px);
  text-align: center;
  z-index: 2;
}

@media (max-width: 1200px) {
  .homepage h1 {
    font-size: 8.5rem;
  }
}

@media (max-width: 1000px) {
  .homepage h1 {
    font-size: 7.5rem;
  }
}

@media (max-width: 780px) {
  .homepage {
    height: auto !important;
    overflow: visible !important;
  }

  .homepage .imgheader {
    height: auto !important;
    overflow: visible !important;
    position: relative;
  }

  .homepage .imgplacement {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .homepage h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 5.5rem;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
  }

  .homepage .ideacontainer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .homepage .scrollcontainer {
    min-width: 100px;
  }

  .homepage .listofrecipe {
    height: 100%;
    width:50%;
    min-width: 100px;
    font-size: 0.5rem;
  }

  .homepage .listofrecipe .title {
    font-size: clamp(0.5rem, 3rem, 3.5rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .homepage .scrollcontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .homepage .scroll-btn {
    display: none;
  }

  .homepage .mealcardscontainer,
  .homepage .dessertcardscontainer {
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .homepage .mealcardscontainer .mealscard,
  .homepage .dessertcardscontainer .dessertcard {
    flex: 1;
    min-height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }

  .homepage .dessertcardscontainer h2,
  .homepage .mealcardscontainer h2 {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {

  .homepage .listofrecipe .title {
    font-size: clamp(0.5rem, 1.5rem, 3.5rem);
  }
}