.recipelistcontainer .addbtn {
  background-color: green;
  height: 35px;
}

.recipelistcontainer .clrbtn {
  width: clamp(16px, 2vh, 24px);
  height: clamp(16px, 2vh, 24px);
  border: 2px solid #888;
  background: #fff;
  position: relative;
  border-radius: 4px;
}

.recipelistcontainer .clrbtn:active {
  background-color: red;
}

.recipelistcontainer .filterlgd {
  border-bottom: 2px solid black;
  display: inline-flex;
  padding: 10px 0 5px 10px;
  background-color: grey;
}

.recipelistcontainer .filtertext {
  font-size: clamp(8px, 1.5vh, 12px);
  color: white;
}

.recipelistcontainer .filterlgd:active {
  background-color: red;
}

.recipelistcontainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 96vh;
}

.recipelistcontainer h1 {
  font-size: 18px;
}

.recipelistcontainer .sidecolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid orangered;
  border-right: 2px solid black;
  overflow-y: auto;
}

.recipelistcontainer .cardcolumn {
  overflow-y: auto;
}

.recipelistcontainer .custom-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-size: clamp(8px, 1.5vh, 12px);
  padding: clamp(5px, 1vh, 15px) 0 clamp(3px, 0.5vh, 10px) clamp(10px, 1vw, 15px);
}

.recipelistcontainer .custom-checkbox input {
  display: none;
}

.recipelistcontainer .checkmark {
  width: clamp(16px, 2vh, 24px);
  height: clamp(16px, 2vh, 24px);
  border: 2px solid #888;
  background: #fff;
  position: relative;
  border-radius: 4px;
}


.recipelistcontainer .custom-checkbox:hover .checkmark {
  border-color: #000;
}

.recipelistcontainer .custom-checkbox input:checked+.checkmark {
  background: green;
  border-color: #444;
}

.recipelistcontainer .custom-checkbox input:checked+.checkmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.recipelistcontainer .custom-checkbox input:focus+.checkmark {
  outline: 2px solid #2196f3;
  outline-offset: 2px;
}

.recipelistcontainer .listoffood {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  min-width: 0;
  gap: 10px;
  padding: 10px;
  max-height: 90vh;
}

.recipelistcontainer .foodcard {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  transition: transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipelistcontainer .foodcard h2 {
  font-size: clamp(14px, 1.5vw, 20px);
  text-align: center;
}

.recipelistcontainer .newrecipecard {
  background-color: green;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  transition: transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipelistcontainer .addrecipecontainer,
.recipelistcontainer .currentrecipecontainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.recipelistcontainer .currentrecipe {
  width: 60%;
  height: 30vh;
  border: 3px solid black;
  background: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.recipelistcontainer .currentrecipecontainer h3 {
  color: black;
}

.recipelistcontainer .addrecipeform {
  width: 60%;
  height: 30vh;
  border: 3px solid black;
  background: blue;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipelistcontainer .halfcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.recipelistcontainer .addrecipeform h2 {
  color: white;
  margin: 15px;
  font-size: 2rem;
}

.recipelistcontainer #addrecipetitle,
.recipelistcontainer #addingredients,
.recipelistcontainer #addinstructions {
  width: 80%;
  max-width: 600px;
  border-radius: 14px;
  padding: 4px;
  padding-left: 7px;
  resize: none;
  overflow: auto;
}

.recipelistcontainer #addingredients,
.recipelistcontainer #addinstructions {
  height: 30%;
  font-size: 14px;
  margin-top: 1rem;
}

.recipelistcontainer #addrecipetitle {
  height: 35px;
  font-size: 20px;
}

.recipelistcontainer textarea:focus {
  outline: 2px solid #0077ff;
  background-color: #f9f9f9;
}

.recipelistcontainer .addrecipeform #submit {
  background-color: green;
  padding: 5px;
  margin: 15px;
  border: none;
  border-radius: 30px;
  width: 80%;
  font-size: 1.2rem;
}

.recipelistcontainer .addrecipeform #submit:hover {
  background-color: yellow;
  width: 82%;
}

.recipelistcontainer .recipe-instruction {
  width: 80%;
  height: 100%;
  gap: 3rem;
  padding: 0.1rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.recipelistcontainer .recipe-ingredients {
  width: 20%;
  height: 100%;
  gap: 0.5rem;
  padding: 0.1rem;
  border-right: 2px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1600px) {
  .recipelistcontainer .listoffood {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (max-width: 768px) {
  .recipelistcontainer .sidecolumn {
    overflow-y: auto;
    width: 25vw;
  }

  .recipelistcontainer .custom-checkbox {
    font-size: clamp(12px, 1.5vh, 9px);
    padding: clamp(5px, 1vh, 15px) 0 clamp(3px, 0.5vh, 10px) clamp(5px, 1vw, 7px);
  }

  .recipelistcontainer .recipelistcontainer {
    grid-template-rows: auto auto;
  }

  .recipelistcontainer .listoffood {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}