.recipelistcontainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: calc(100svh - 60px);
  background: white;
}

.recipelistcontainer .sidecolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid black;
  overflow-y: auto;
}

.recipelistcontainer .filterlgd {
  padding: 10px 0 5px 10px;
}

.recipelistcontainer .filtertext {
  font-size: clamp(8px, 1.5svh, 12px);
  color: black;
  text-transform: uppercase;
}


.recipelistcontainer .cardcolumn {
  overflow-y: auto;
}

.recipelistcontainer .custom-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-size: clamp(8px, 1.5svh, 12px);
  padding: clamp(5px, 1svh, 15px) 0 clamp(3px, 0.5svh, 10px) clamp(10px, 1vw, 15px);
}

.recipelistcontainer .custom-checkbox input {
  display: none;
}

.recipelistcontainer .checkmark {
  width: clamp(16px, 2svh, 24px);
  height: clamp(16px, 2svh, 24px);
  border: 2px solid #888;
  background: #fff;
  position: relative;
  border-radius: 4px;
}


.recipelistcontainer .custom-checkbox:hover .checkmark {
  border-color: #000;
}

.recipelistcontainer .custom-checkbox input:checked+.checkmark {
  background: black;
  border-color: #444;
}

.recipelistcontainer .custom-checkbox input:checked+.checkmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.recipelistcontainer .custom-checkbox input:focus+.checkmark {
  outline: 2px solid #2196f3;
  outline-offset: 2px;
}

.recipelistcontainer .listoffood {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  min-width: 0;
  gap: 10px;
  padding: 10px;
  max-height: 90svh;
}

.recipelistcontainer .foodcard {
  border: 2px solid black;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  width: 100%;
  transition: transform 0.1s ease;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.recipelistcontainer .foodcard .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.recipelistcontainer .foodcard h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: clamp(15px, 1.6svh, 24px);
  text-align: center;
  z-index: 2;
}

.recipelistcontainer .newrecipecard {
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  transition: transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.recipelistcontainer .newrecipecard img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 80%;
  cursor: pointer;
}

.addrecipecontainer,
.currentrecipecontainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1450px) {
  .recipelistcontainer .listoffood {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 780px) {
  .recipelistcontainer .sidecolumn {
    overflow-y: auto;
    width: 25vw;
  }

  .recipelistcontainer .custom-checkbox {
    font-size: clamp(12px, 1.5svh, 9px);
    padding: clamp(5px, 1svh, 15px) 0 clamp(3px, 0.5svh, 10px) clamp(5px, 1vw, 7px);
  }

  .recipelistcontainer {
    grid-template-rows: auto auto;
  }

  .recipelistcontainer .listoffood {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}