.recipelistcontainer .addbtn {
  background-color: green;
  height: 35px;
}

.recipelistcontainer .clrbtn {
  width: clamp(16px, 2vh, 24px);
  height: clamp(16px, 2vh, 24px);
  border: 2px solid #888;
  background: #fff;
  position: relative;
  border-radius: 4px;
}

.recipelistcontainer .clrbtn:active {
  background-color: red;
}

.recipelistcontainer .filterlgd {
  border-bottom: 2px solid black;
  display: inline-flex;
  padding: 10px 0 5px 10px;
  background-color: grey;
}

.recipelistcontainer .filtertext {
  font-size: clamp(8px, 1.5vh, 12px);
  color: white;
}

.recipelistcontainer .filterlgd:active {
  background-color: red;
}

.recipelistcontainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: calc(100vh - 60px);
}

.recipelistcontainer h1 {
  font-size: 18px;
}

.recipelistcontainer .sidecolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid orangered;
  border-right: 2px solid black;
  overflow-y: auto;
}

.recipelistcontainer .cardcolumn {
  overflow-y: auto;
}

.recipelistcontainer .custom-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-size: clamp(8px, 1.5vh, 12px);
  padding: clamp(5px, 1vh, 15px) 0 clamp(3px, 0.5vh, 10px) clamp(10px, 1vw, 15px);
}

.recipelistcontainer .custom-checkbox input {
  display: none;
}

.recipelistcontainer .checkmark {
  width: clamp(16px, 2vh, 24px);
  height: clamp(16px, 2vh, 24px);
  border: 2px solid #888;
  background: #fff;
  position: relative;
  border-radius: 4px;
}


.recipelistcontainer .custom-checkbox:hover .checkmark {
  border-color: #000;
}

.recipelistcontainer .custom-checkbox input:checked+.checkmark {
  background: green;
  border-color: #444;
}

.recipelistcontainer .custom-checkbox input:checked+.checkmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.recipelistcontainer .custom-checkbox input:focus+.checkmark {
  outline: 2px solid #2196f3;
  outline-offset: 2px;
}

.recipelistcontainer .listoffood {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  min-width: 0;
  gap: 10px;
  padding: 10px;
  max-height: 90vh;
}

.recipelistcontainer .foodcard {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  transition: transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipelistcontainer .foodcard h2 {
  font-size: clamp(14px, 1.5vw, 20px);
  text-align: center;
}

.recipelistcontainer .newrecipecard {
  background-color: green;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  transition: transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addrecipecontainer,
.currentrecipecontainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* add recipe modal */
/* __________________________________________________________*/
.addrecipeform  {
  width: 60vw;
  max-width: 800px;
  height: 50vh;
  border: 3px solid black;
  background: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.recipelistcontainer .top-third-row {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  
}
.recipelistcontainer .middle-third-row,
.recipelistcontainer .bottom-third-row {
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid black;
  
}
.recipelistcontainer .formtitle {
  border-bottom: 2px solid black;
  background-color: lightgrey;
}
.recipelistcontainer #addrecipetitle {
  width: 70%;
  max-width: 600px;
  padding: 4px;
  padding-left: 7px;
  resize: none;
  overflow: auto;
  background-color: lightgrey;
}
.recipelistcontainer .choicebtn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}
.recipelistcontainer .choicebtn.selected {
    background-color: #333;
    color: white;
    border-color: #333;
}
.recipelistcontainer #addingredients,
.recipelistcontainer #addinstructions {
  width: 100%;
  height: 100%;
  font-size: 14px;
  resize: none;
  overflow: auto;
  
}

.recipelistcontainer #addrecipetitle {
  height: 35px;
  font-size: 20px;
}
.recipelistcontainer textarea:focus {
  outline: 2px solid var(--dark);
  background-color: #f9f9f9;
}
.recipelistcontainer .addrecipeform #submit {
  background-color: var(--darkgrey);
  padding: 5px;
  margin: 15px;
  border: none;
  border-radius: 30px;
  width: 60%;
  font-size: 1.2rem;
}
.recipelistcontainer .addrecipeform #submit:hover {
  cursor: pointer;
  transform: scale(1.01);
}

/* __________________________________________________________*/
/* see recipe modal */
.currentrecipe {
  width: 60vw;
  max-width: 1000px;
  min-width: 600px;
  height: 40vh;
  min-height: 500px;
  border: 3px solid black;
  background: white;
  border-radius: 14px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkgrey);
}
.currentrecipecontainer h3,
.currentrecipecontainer h3 {
  color: black;
  height: 10%;
  margin-bottom: 5px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.currentrecipe .tophalf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.recipe-instruction,
.recipe-ingredients {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: lightgrey;
  overflow: hidden;
}
.recipe-instruction {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  width: 70%;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.recipe-ingredients {
  width: 30%;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  display: flex;
  border-right: 4px solid black;
  justify-content: flex-start;
  flex-direction: column;
}
.recipe-ingredients li {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  list-style: none;
  text-align: left;
  width: 100%;
}
.recipe-ingredients ul {
  padding-left: 0;
  margin: 0;
  width: 100%;
}
.recipe-ingredients h4,
.recipe-instruction h4 {
  color: black;
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
}
.bottomhalf {
    width: 100%;
}
.editbtn, .dltbtn {
    background-color: darkred;
    color: white;
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
    border-radius: 6px;
    width: 45%;
}

/* __________________________________________________________*/


.editrecipecontainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.editrecipe {
  width: 60vw;
  max-width: 1000px;
  min-width: 600px;
  height: 40vh;
  min-height: 500px;
  border: 3px solid black;
  background: white;
  border-radius: 14px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkgrey);
}

 #editrecipetitle,
 #editingredients,
 #editinstructions {
  width: 90%;
  max-width: 600px;
  border-radius: 14px;
  padding: 4px;
  padding-left: 7px;
  resize: none;
  overflow: auto;
  background-color: lightgrey;
}
 #editingredients,
 #editinstructions {
  height: 30%;
  font-size: 14px;
  margin-top: 1rem;
}
.editrecipeform #submit {
  background-color: var(--darkgrey);
  padding: 5px;
  margin: 15px;
  border: none;
  border-radius: 30px;
  width: 60%;
  font-size: 1.2rem;
}
#editrecipetitle {
  height: 35px;
  font-size: 20px;
}

.editrecipecontainer textarea:focus {
  outline: 2px solid var(--dark);
  background-color: #f9f9f9;
}

@media (min-width: 1600px) {
  .recipelistcontainer .listoffood {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (max-width: 768px) {
  .recipelistcontainer .sidecolumn {
    overflow-y: auto;
    width: 25vw;
  }

  .recipelistcontainer .custom-checkbox {
    font-size: clamp(12px, 1.5vh, 9px);
    padding: clamp(5px, 1vh, 15px) 0 clamp(3px, 0.5vh, 10px) clamp(5px, 1vw, 7px);
  }

  .recipelistcontainer .recipelistcontainer {
    grid-template-rows: auto auto;
  }

  .recipelistcontainer .listoffood {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}