#RecipeApp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  /*hide scrollbar background for firefox */
  scrollbar-width: thin;
  scrollbar-color: white;
  
}
/* hide scrollbar background for Chrome, Edge, Safari */
#RecipeApp::-webkit-scrollbar {
  width: 8px;
}

#RecipeApp::-webkit-scrollbar-track {
  background: transparent;
}

#RecipeApp::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}