.about {
  height: 95dvh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  color: var(--primary);
  padding: 2rem;
  margin-top: 5dvh;
}

.about .picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.about .profile {
  width: clamp(12rem, 26vw, 24rem);
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.about h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

.about p {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.about .social-link {
  font-size: 1.45rem;
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}


.about .insta {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 600px) {

  .about .description {
    gap: 1.5rem;
  }
  .about .profile {
    width: 12rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
  .about .insta {
    font-size: 0.8rem;
  }

  .about .social-link {
    font-size: 0.9rem;
    font-weight: 600;
  }
}