.about {
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
}

.about h1 {
  font-size: 4vw;
  font-weight: 800;
}

.about p {
  font-size: 2vw;
  font-weight: 200;
}

@media (max-width: 600px) {
  .about h1 {
    font-size: 7vw;
    font-weight: 800;
  }

  .about p {
    font-size: 4vw;
    font-weight: 200;
  }
}