.home {
  position: relative;
  height: 95vh;
  width: 100%;
  color: var(--primary);
}
.content {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home h1 {
  font-size: 9vw;
  font-weight: 800;
}

.home h2 {
  font-size: 7vw;
  font-weight: 200;
}

.overwrap {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.overwrap.active {
  --x: 50%;
  --y: 50%;
  --radius: 150px;

background-size: 200px 200px;
  background-image:
    linear-gradient(to right, var(--primary) 2px, transparent 1px),
    linear-gradient(to bottom, var(--primary) 2px, transparent 1px);

  -webkit-mask-image: radial-gradient(circle var(--radius, 450px) at var(--x, 50%) var(--y, 50%),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle var(--radius, 450px) at var(--x, 50%) var(--y, 50%),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;

}



@media (max-width: 400px) {
  .home h1 {
    font-size: 16vw;
    font-weight: 800;
  }

  .home h2 {
    font-size: 9vw;
    font-weight: 200;
  }
}