.home {
  position: relative;
  height: 95dvh;
  width: 100%;
  color: var(--primary);
  margin-top: 5dvh;
}
.content {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.home .content h1 {
  font-size: 8rem;
  font-weight: 800;
}

.home h2 {
  font-size: 5rem;
  font-weight: 200;
}

.overwrap {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.overwrap.active {
  --x: 50%;
  --y: 50%;
  --radius: 150px;

  background-size: 180px 180px;
  background-image:
    linear-gradient(to right, var(--primary) 2px, transparent 1px),
    linear-gradient(to bottom, var(--primary) 2px, transparent 1px);

  -webkit-mask-image: radial-gradient(circle var(--radius, 450px) at var(--x, 50%) var(--y, 50%),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle var(--radius, 450px) at var(--x, 50%) var(--y, 50%),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;

}



@media (max-width: 600px) {
  .home .content h1 {
    font-size: 4.5rem;
    font-weight: 800;
  }

  .home h2 {
    font-size: 3rem;
    font-weight: 200;
  }
  .overwrap {
    display: none;
  }
}


