.home {
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  color: var(--light);
}

.home h1 {
  font-size: 9vw;
  font-weight: 800;
}

.home h2 {
  font-size: 7vw;
  font-weight: 200;
}

@media (max-width: 400px) {
  .home h1 {
    font-size: 16vw;
    font-weight: 800;
  }

  .home h2 {
    font-size: 9vw;
    font-weight: 200;
  }
}