.project-cardcontainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
  padding-top: 100px;
  margin: 0 auto;
}
.project-cardcontainer .cardlink {
  text-decoration: none;
  color: inherit;
  font-size: 55px;
  font-weight: bold;
}
.project-cardcontainer .card {
  width: 650px;
  height: 350px;
  border-radius: 14px;
  box-shadow: black 0px 5px 10px, black 0px 15px 14px;
  transition: transform 0.1s ease;
  /* preserve 3D is usefull if you have something inside the card   */
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.project-cardcontainer .cardcontent {
  position: relative;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  pointer-events: none;
  z-index: 1;
}
.project-cardcontainer h1 {
  font-size: 90%;
  color: var(--light);
}
.project-cardcontainer p {
  font-size: 60%;
  color: var(--light);
}
.project-cardcontainer .cardbg {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  border-radius: 14px;
  filter: blur(9px);
}
@media (max-width: 1800px) {
  .project-cardcontainer{
    margin-top: 100px;
    align-content: flex-start;
    flex-wrap: wrap;
  }
    .project-cardcontainer .card {
      width: 650px;
      height: 350px;
  }
}
@media (max-width: 1350px) {
  .project-cardcontainer{
      min-width: 620px;
      align-content: flex-start;
      margin-top: 100px;   
  }
    .project-cardcontainer .card {
      width: 650px;
      height: 350px;
  }
}
@media (max-width: 650px) {
  .project-cardcontainer{
    min-width: 300px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .project-cardcontainer .card {
    width: 80vw;
    height: 15vh;
  }
  .project-cardcontainer h1 {
  font-size: 80%;
}
.project-cardcontainer p {
  font-size: 50%;
}
}