.project-cardcontainer {
  width: 85vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 100px;
  padding-top: 10vh;
  margin: 0 auto;
}

.project-cardcontainer .cardlink {
  text-decoration: none;
  color: inherit;
  font-size: 55px;
  font-weight: bold;
}
.project-cardcontainer .cardlink a {
  text-decoration: none;
  color: inherit;
  font-size: 55px;
  font-weight: bold;
}

.project-cardcontainer .card {
  width: 25vw;
  height: 25vh;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.25) 0px 15px 14px;
  transition: transform 0.1s ease;
  /* preserve 3D is usefull if you have something inside the card   */
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--dark);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.project-cardcontainer .cardcontent {
  position: relative;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  pointer-events: none;
  z-index: 1;
}

.cardcontent h1 {
  font-size: 90%;
  color: var(--primary);
}

.cardcontent p {
  font-size: 60%;
  color: var(--primary);
}

.project-cardcontainer .cardbg {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
  border-radius: 14px;
  filter: blur(3px) grayscale(30%);
  opacity: 0.3;
}

.project-cardcontainer .card:hover .cardbg {
  opacity: 0.6;
  filter: blur(0px) grayscale(0%);
}

@media (max-width: 1800px) {
  .project-cardcontainer {
    margin-top: 100px;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .project-cardcontainer .card {
    width: 650px;
    height: 350px;
  }
}

@media (max-width: 1350px) {
  .project-cardcontainer {
    min-width: 620px;
    align-content: flex-start;
    margin-top: 100px;
  }

  .project-cardcontainer .card {
    width: 650px;
    height: 350px;
  }
}

@media (max-width: 650px) {
  .project-cardcontainer {
    min-width: 300px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .project-cardcontainer .card {
    width: 80vw;
    height: 15vh;
  }

  .project-cardcontainer h1 {
    font-size: 80%;
  }

  .project-cardcontainer p {
    font-size: 50%;
  }
}