.project-cardcontainer {
  width: 100%;
  min-height: 95dvh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 100px;
  padding-top: 10dvh;
  padding-bottom: 5dvh;
  margin: 0 auto;
}

.project-cardcontainer .cardlink {
  width: 25vw;
  height: 25dvh;
  border-radius: 16px;
  text-decoration: none;
  color: inherit;
  display: block;
}
.project-cardcontainer .cardlink a {
  text-decoration: none;
  color: inherit;
}

.project-cardcontainer .card {
  padding: 0.5rem;
  width: 25vw;
  height: 25dvh;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.25) 0px 15px 14px;
  transition: transform 0.1s ease;
  /* preserve 3D is usefull if you have something inside the card   */
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--dark);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.project-cardcontainer .cardcontent {
  position: relative;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  pointer-events: none;
  z-index: 1;
}

.cardcontent h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary);
}

.cardcontent p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}

.project-cardcontainer .cardbg {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
  border-radius: 14px;
  filter: blur(3px) grayscale(30%);
  opacity: 0.3;
}

.project-cardcontainer .card:hover .cardbg {
  opacity: 0.6;
  filter: blur(0px) grayscale(0%);
}

@media (max-width: 1800px) {
  .project-cardcontainer {
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10dvh;
  }

  .project-cardcontainer .card,
  .project-cardcontainer .cardlink {
    width: 650px;
    height: 350px;
  }
}

@media (max-width: 1350px) {
  .project-cardcontainer {
    min-width: 300px;
    align-content: flex-start;
    padding-top: 10dvh;
    gap: 2rem;
  }

  .project-cardcontainer .card,
  .project-cardcontainer .cardlink {
    width: 45vw;
    height: 30dvh;
  }
}

@media (max-width: 850px) {
  .project-cardcontainer {
    gap: 2rem;
  }

  .project-cardcontainer .card,
  .project-cardcontainer .cardlink {
    width: 80vw;
    height: 20dvh;
  }

  .cardcontent h1 {
    font-size: 1.5rem;
  }

  .cardcontent p {
    font-size: 1rem;
  }
}