.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  color: var(--primaryry);
  margin: 25px;
}
.navbar-name {
  margin-left: 25px;
  color: var(--primary);
  font-size: 4.5em;
  text-decoration: none;
}
.navbar-lead {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  padding: 9px;
  margin-right: 35px;
}
.navbar-lead .navbarlink {
  display: inline-block;
  transition: transform 0.2s ease, border-bottom 0.1s ease;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--primary);
}
.navbar-lead .navbarlink:hover {
  border-bottom: 2px solid var(--primary);
  transform:  scale(1.04);
}
@media (max-width: 500px) {
  .navbar-lead {
    gap: 4vw;
    padding: 9px;
    margin: 0 auto;
  }
  .navbar-lead .navbarlink {
    font-size: 5vw;
  }
  .navbar-name {
    display: none;
  }
}
@media (max-width: 400px) {
  .navbar-lead {
    gap: 3vw;
    padding: 9px;
    margin: 0 auto;
  }
  .navbar-lead .navbarlink {
    font-size: 7vw;
  }
  .navbar-name {
    display: none;
  }
}