.pictures-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.single-view {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-view {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.main-picture {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.sub-picture {
  width: 100%;
  height: 100%;
  grid-column: span 1;
  aspect-ratio: 1/1;
}
