.pictures-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.98);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.single-view {
  width: 90%;
  height: 90%;
  display: flex;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
}

.multi-view {
  width: 90%;
  height: 90%;
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-picture-container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-picture {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}
.sub-pictures-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}
.sub-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}
.d-none {
  display: none;
}
