.social-links {
 position: absolute;
 bottom: 20px;
 right: 20px;
 display: flex;
 gap: 20px;
 z-index: 10;
}

.social-btn {
 display: block;
 width: 2rem;
 height: 2rem;
 transition: transform 0.2s ease;
 color: var(--primary);
}

.social-btn:hover {
 transform: scale(1.1);
}

.social-btn svg {
 width: 100%;
 height: 100%;
}