*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.vm-homepage {
    --marron: #312F2F;
    --green: #84DCCF;
    --blue: #A6D9F7;

    background: linear-gradient(15deg, rgba(60, 111, 150, 1) 0%, rgba(120, 195, 251, 1) 51%, rgba(255, 247, 184, 1) 100%);
    background: var(--marron);
    height: 910vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.vm-homepage .intro {
    height: 100vh;
    width: 100%;
    position: relative;

}

.intro .title {
    height: 100%;
    width: 100%;
    background-color: var(--green);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.vm-homepage .intro h1 {
    font-size: clamp(5rem, 20vw, 21rem);
    color: var(--marron);
    text-align: center;
    opacity: 1;
    line-height: 0.9;
    padding: 0 1rem;
}


.vm-homepage .intro-img {
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.vm-homepage .intro h2 {
    font-size: 5rem;
    color: var(--green);
    opacity: 1;
    padding-bottom: 5%;
    text-align: center;
}

.vm-homepage .middle-top {
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.middle-top .text-expo {
    width: 100%;
    height: 100%;
}

.middle-top .text-expo .top-half {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.middle-top .text-expo .top-half .img1 {
    height: 70%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 4;
    
}

.middle-top .text-expo .top-half .img2 {
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.middle-top .text-expo .top-half .img3 {
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.middle-top .text-expo .bottom-half {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    border-top: 15px solid var(--green);
    
}

.middle-top .bottom-half .description-text {
    font-size: clamp(1rem, 2.5vw, 3.5rem);
    color: var(--green);
    width: 90%;
    max-width: 1400px;
    text-align: center;
    line-height: 1.3;
    margin: 0 auto;
    padding: 0 1rem;
}

.middle-top .bottom-half .first {
    position: absolute;
    opacity: 1;

}

.middle-top .bottom-half .second {
    position: absolute;
}

.middle-top .bottom-half .third {
    position: absolute;
}


.vm-homepage .middle-bottom {
    z-index: 1;
    height: 130vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--green);
    padding: 1rem;
}

.middle-bottom h3 {
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
    color: var(--marron);
}

.middle-bottom .vinyl-expo {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 3rem;
    box-sizing: border-box;
    padding: 3rem 2rem 3rem 2rem;
}

.middle-bottom .vinyl-card {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 0.8;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.vinyl-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--marron);
    opacity: 0.9;
    z-index: 1;
}



.middle-bottom .full-vinyl {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    margin-right: 15px;
    transition: 0.5s;

}

.middle-bottom .vinyl-card:hover .full-vinyl {
    transform: scale(1.1);
}

.middle-bottom .vinyl-cover,
.middle-bottom .vinyl-disc {
    aspect-ratio: 1 / 1;
    position: absolute;
}




.middle-bottom .vinyl-cover {
    height: 80%;
    z-index: 3;
    margin-left: -5%;
    box-shadow: -5px 10px 15px black;
}

.middle-bottom .vinyl-disc {
    height: 91%;
    z-index: 2;
    margin-left: 20%;
}


.vm-homepage .image-expo {
    height: 300vh;
    position: relative;

}

.placeholder-img {
    height: 20%;
    width: 30%;
    left: 10%;
    top: 10%;
    position: absolute;
}

.placeholder-text {
    color: var(--green);
    height: 10%;
    width: 40%;
    left: 55%;
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}

.placeholder-img-second {
    height: 20%;
    width: 80%;
    left: 10%;
    top: 40%;
    position: absolute;
    object-fit: cover;
}

.placeholder-text-second {
    color: var(--green);
    height: 10%;
    width: 40%;
    left: 7%;
    top: 72%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}

.placeholder-img-third {
    height: 25%;
    width: 40%;
    left: 50%;
    top: 70%;
    position: absolute;
    object-fit: cover;
}

.vm-homepage .footer {
    height: 30vh;
    width: 100%;
}

.footer .top-half {
    background-color: var(--green);
    color: var(--marron);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.footer .infinite-loop {
    height: 100%;
    font-size: 3.2rem;
    display: flex;
    position: relative;
    overflow: hidden;
    font-weight: 800;
    gap: 2rem;
}

.footer .infinite-loop-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    min-width: 100%;
    list-style: none;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

.footer .bottom-half {
    background-color: var(--marron);
    height: 25vh;
    display: flex;
    align-items: center;
}

.footer .bottom-half .left-half {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .bottom-half .logo {
    font-size: 18vh;
    font-weight: bolder;
    position: relative;
    left: 5%;
    top: -5%;

}

.footer .bottom-half .right-half {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .bottom-half .right-half .adress,
.footer .bottom-half .right-half .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 0.5rem;
}

.footer .bottom-half .right-half .adress {
    width: 60%;
    height: 100%;
}

.footer .bottom-half .right-half .adress h4,
.footer .bottom-half .right-half .socials h4 {
    color: var(--green);
    font-size: 5rem;
    font-weight: bolder;
}

.footer .bottom-half .right-half .adress p,
.footer .bottom-half .right-half .socials p {
    color: var(--blue);
    font-size: 2.5rem;
    margin-top: -15px
}

.footer .bottom-half .right-half .socials {
    width: 40%;
    height: 100%;
}

.footer .bottom-half .right-half .socials p:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
    color: var(--green);
}

.footer .bottom-half .right-half .socials p:active {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

@media (max-width: 850px) {
    .middle-bottom h3 {
        font-size: 3.5em;
        height: 10%;
    }

    .middle-bottom .vinyl-expo {
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0.5rem;
    }

    .vm-homepage .middle-bottom {
        z-index: 1;
        height: 200vh;
    }
}
@media (max-width: 650px) {

    .vm-homepage .intro h1 {
    font-size: 4rem;
    }
    .vm-homepage .intro h2 {
        font-size: 1.5rem;
        padding-bottom: 5%;
        text-align: center;
    }

    .vm-homepage .middle-bottom {
        height: 200vh;
    }

    

    .middle-bottom h3 {
        font-size: 1.5em;
        height: 10%;
    }
    .middle-bottom .vinyl-expo {
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0.5rem;
    }

    .image-expo .placeholder-text,
    .image-expo .placeholder-text-second {
        font-size: 1.5em;
    }
    .footer .bottom-half .logo {
        font-size: 3rem;
        top: -5%;

    }
    .footer .bottom-half .left-half {
        width: 40%;
    }
    .footer .bottom-half .right-half {
        width: 60%;
    }
    .footer .infinite-loop {
        font-size: 2.5rem;
        font-weight: 800;
        gap: 2rem;
    }
    .footer .bottom-half .right-half .adress h4,
    .footer .bottom-half .right-half .socials h4 {
        font-size: 1rem;
        font-weight: bolder;
    }

    .footer .bottom-half .right-half .adress p,
    .footer .bottom-half .right-half .socials p {
        font-size: 0.5rem;
        margin-top: -15px
    }
}
@media (max-width: 350px) {

    .vm-homepage .middle-bottom {
        z-index: 1;
        height: 100vh;
    }

    .middle-bottom h3 {
        font-size: 2.5em;
        height: 20%;
    }

    .middle-bottom .vinyl-expo {
        height: 80%;
        width: 100%;
        gap: 0.5rem;
        padding: 0px;
    }

    .middle-bottom .vinyl-card {
        position: relative;
        aspect-ratio: 1 / 1;
        width: 90%;
        height: 90%;
    }

    .middle-bottom .vinyl-card:hover .full-vinyl {
        transform: scale(1.1);
    }

}
