*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vm-homepage {
    background: #3c6f96;
    background: linear-gradient(15deg, rgba(60, 111, 150, 1) 0%, rgba(120, 195, 251, 1) 51%, rgba(255, 247, 184, 1) 100%);
    height: 840vh;
    width: 100%;
    overflow: hidden;
}

.vm-homepage .intro {
    height: 100vh;
    width: 100%;
    position: relative;

}

.intro .title {
    height: 100%;
    width: 100%;
    background-color: blue;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transform: 9s;
}

.vm-homepage .intro h1 {
    font-size: 21rem;
    color: white;
    text-align: center;
}

.vm-homepage .intro-img {
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 0;
}

.vm-homepage .middle-top {
    z-index: 1;
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.middle-top .text-expo {
    width: 100%;
    height: 100%;
    background-color: green;
}

.middle-top .text-expo .top-half {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: violet;
    overflow: hidden;
}

.middle-top .text-expo .top-half .img1 {
    height: 70%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 4;
}

.middle-top .text-expo .top-half .img2 {
    height: 70%;
    width: 100%;
    background-color: blue;
    position: absolute;
    z-index: 3;
}

.middle-top .text-expo .top-half .img3 {
    height: 70%;
    width: 100%;
    background-color: red;
    position: absolute;
    z-index: 2;
}

.middle-top .text-expo .bottom-half {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    overflow-x: hidden;
    border: 2px solid green;
}

.middle-top .bottom-half .description-text {
    font-size: 3.5em;
    color: yellow;
    padding: 1vw;
    max-width: 80%;
    text-align: center;
    line-height: 1.3;
}

.middle-top .bottom-half .first {
    position: absolute;
    opacity: 1;
}

.lineChildfirst {
    border: 2px solid
}

#lineChildfirst {
    transition: 0.6s ease-in-out;
}

.middle-top .bottom-half .second {
    position: absolute;
}

.middle-top .bottom-half .third {
    position: absolute;
}


.vm-homepage .middle-bottom {
    z-index: 1;
    background-color: blue;
    height: 100vh;
}

.middle-bottom .vinyl-expo {
    height: 100%;
    width: 100%;
    background-color: red;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 5rem;
}
.middle-bottom .vinyl-expo .top-row {
    grid-row: 2;
}
.middle-bottom .vinyl-expo .bottom-row {
    grid-row: 3;
}
.middle-bottom .vinyl-card {
    height: 350px;
    width: 100%;
    background-color: white;
    overflow: hidden
}

.middle-bottom .full-vinyl {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
}

.middle-bottom .vinyl-cover,
.middle-bottom .vinyl-disc {
    aspect-ratio: 1 / 1;
    position: absolute;
    box-shadow: -5px 10px 15px gray;
}

.middle-bottom .full-vinyl:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.middle-bottom .vinyl-cover {
    height: 60%;
    background-color: black;
    z-index: 3;
    top: 22%;
    left: 15%;
}

.middle-bottom .vinyl-disc {
    height: 58%;
    background-color: purple;
    border-radius: 100%;
    z-index: 2;
    top: 23%;
    left: 40%;
}

.middle-bottom .vinyl-center {
    transform: scale(0.3);
    top: 24%;
    background-color: black;
    box-shadow: 0px 0px 0px;
}

.vm-homepage .image-expo {
    background: linear-gradient(15deg, rgba(60, 111, 150, 1) 0%, rgba(120, 195, 251, 1) 51%, rgba(255, 247, 184, 1) 100%);
    height: 300vh;
    position: relative;

}

.placeholder-img {
    background-color: orange;
    height: 20%;
    width: 30%;
    left: 10%;
    top: 15%;
    position: absolute;
}

.placeholder-text {
    background-color: white;
    color: black;
    height: 10%;
    width: 40%;
    left: 55%;
    top: 30%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}

.placeholder-img-second {
    background-color: orange;
    color: black;
    height: 20%;
    width: 80%;
    left: 10%;
    top: 55%;
    position: absolute;
}

.placeholder-text-second {
    background-color: white;
    color: black;
    height: 10%;
    width: 40%;
    left: 5%;
    top: 72%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}

.placeholder-img-third {
    background-color: orange;
    color: black;
    height: 25%;
    width: 550px;
    left: 50%;
    top: 92%;
    position: absolute;
}

.vm-homepage .footer {
    background-color: red;
    height: 40vh;
    width: 100%;
}

.footer .top-half {
    background-color: orange;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.footer .infinite-loop {
    height: 100%;
    font-size: 3.8rem;
    position: relative;
    display: flex;
    overflow: hidden;
    font-weight: 800;
    gap: 4rem;
}

.footer .infinite-loop-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    min-width: 100%;
    list-style: none;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 4rem));
    }
}

.footer .bottom-half {
    background-color: violet;
    height: 85%;
    display: flex;
    align-items: center;
}

.footer .bottom-half .left-half {
    width: 60%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .bottom-half .logo {
    font-size: 23vh;
}

.footer .bottom-half .right-half {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .bottom-half .right-half .adress {
    width: 60%;
    height: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .bottom-half .right-half .adress h3 {
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
}

.footer .bottom-half .right-half .socials {
    width: 40%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




@media (min-width: 2300px) {
    .middle-top .bottom-half .description-text {
        font-size: 5.5em;
    }

    .middle-bottom .vinyl-card {
        height: 550px;
        width: 650px;
    }

    .image-expo .placeholder-text,
    .image-expo .placeholder-text-second {
        font-size: 5.5em;
    }
}


@media (max-width: 650px) {

    .vm-homepage {
        height: 860vh;
    }

    .vm-homepage .intro h1 {
        font-size: 10rem;
        color: white;
        text-align: center;
    }

    .middle-top .bottom-half .description-text {
        font-size: 2.5em;
        transition: 0.4s ease-in-out;
    }

    .vm-homepage .middle-bottom {
    z-index: 1;
    background-color: blue;
    height: 120vh;
}


    .middle-bottom .vinyl-expo {
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap : wrap;
    gap: 3rem;
    padding: 3rem;
}
.middle-bottom .vinyl-card {
    width: 100%;
    max-width: 250px;
    background-color: white;
    overflow: hidden
}


    .image-expo .placeholder-text,
    .image-expo .placeholder-text-second {
        font-size: 5.5em;
    }
}