.vm-homepage {
    background: #3c6f96;
    background: linear-gradient(15deg, rgba(60, 111, 150, 1) 0%, rgba(120, 195, 251, 1) 51%, rgba(255, 247, 184, 1) 100%);
    height: 620vh;
    width: 100%;
}

.vm-homepage .intro {
    height: 100vh;
    
    position: relative;

}

.intro .title {
    height: 100%;
    width: 100%;
    background-color: blue;
    position: absolute;
    z-index: 1;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transform: 9s;
}

.vinyl-buffer .intro h1 {
    font-size: 25vw;
    color: white;
    border: 2px solid red;
    text-align: center;
}



.vm-homepage .intro-img {
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 0;

}

.vm-homepage .middle-top {
    position: relative;
    z-index: 1;
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.middle-top .text-expo {
    width: 100%;
    height: 100%;
    background-color: green;
}

.middle-top .text-expo .top-half {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: violet;
}

.middle-top .text-expo .bottom-half {
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.middle-top .text-expo .top-half .img1 {
    height: 70%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 4;
}
.middle-top .text-expo .top-half .img2 {
    height: 70%;
    width: 100%;
    background-color: blue;
    position: absolute;
    z-index: 3;
}
.middle-top .text-expo .top-half .img3 {
    height: 70%;
    width: 100%;
    background-color: red;
    position: absolute;
    z-index: 2;
}

.middle-top h2,
.middle-top p {
    font-size: 4vw;
    color: yellow;
    text-align: center;
}

.circular-text {
    transition: 0.1s ease-in-out;
    
}

.first,
.second,
.third {
    border: 2px solid red;
    
}

.first {
    position: absolute;
    opacity: 1;
}
#lineChildfirst {
    transition: 0.6s ease-in-out;
}

.second {
    position: absolute;
}

.third {
    position: absolute;
}


.vm-homepage .middle-bottom {
    position: relative;
    z-index: 1;
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.vinyl-expo {
    height: 100%;
    width: 100%;
    background-color: red;
    border: 2px solid black;
}

.vinyl-expo .bottom-half {
    height: 50%;
    background-color: violet;
}

.vinyl-expo .top-half {
    height: 50%;
    background-color: orange;
}

.vinyl-expo .bottom-half,
.vinyl-expo .top-half {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.vinyl-square {
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: white;
}

.vm-homepage .image-expo {
    background-color: blue;
    height: 300vh;
    position: relative;
}

.placeholder-img {
    background-color: orange;
    height: 20%;
    width: 30%;
    left: 10%;
    top: 5%;
    position: absolute;
}

.placeholder-text {
    background-color: white;
    color: black;
    height: 10%;
    width: 40%;
    left: 55%;
    top: 25%;
    position: absolute;
}

.placeholder-img-second {
    background-color: orange;
    color: black;
    height: 20%;
    width: 80%;
    left: 10%;
    top: 40%;
    position: absolute;
}

.placeholder-text-second {
    background-color: white;
    color: black;
    height: 10%;
    width: 40%;
    left: 5%;
    top: 65%;
    position: absolute;
}

.placeholder-img-third {
    background-color: orange;
    color: black;
    height: 25%;
    width: 45%;
    left: 50%;
    top: 72%;
    position: absolute;
}

.vm-homepage .footer {
    background-color: red;
    height: 40vh;
    padding: 5px;
    border-radius: 15px;
    border-top: 2px solid black;
}

.vm-homepage .footer .top-half {
    background-color: orange;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infiniteloop {
    font-size: 6vh;
    overflow: hidden;
    width: 99%;
    height: 100%;
    font-weight: 800;
}


.vm-homepage .footer .bottom-half {
    background-color: violet;
    height: 80%;
    display: flex;
    align-items: center;
}

.vm-homepage .footer .bottom-half .left-half {
    width: 60%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vm-homepage .footer .bottom-half .logo {
    font-size: 23vh;
}

.vm-homepage .footer .bottom-half .right-half {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vm-homepage .footer .bottom-half .right-half .adress {
    width: 70%;
    height: 100%;
    background-color: yellow;
}

.vm-homepage .footer .bottom-half .right-half .socials {
    width: 50%;
    height: 100%;
    background-color: red;
}