.vm-homepage {
    background: #3c6f96;
    background: linear-gradient(15deg, rgba(60, 111, 150, 1) 0%, rgba(120, 195, 251, 1) 51%, rgba(255, 247, 184, 1) 100%);
    height: 500vh;
}

.intro h1,
.intro p {
    font-size: 220px;
    color: yellow;
    margin: auto 0;
    text-align: center;
}

.intro p {
    font-size: 110px;
}

.vm-homepage .intro,
.vm-homepage .middle,
.vm-homepage .outro {
    height: 100vh;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid green;
}


.vm-homepage .middle {
    background-color: red;
    opacity: 50%;
}

.vm-homepage .intro,
.vm-homepage .middle {
    position: relative;
    z-index: 1;
}

.bg-break {
    position: absolute;
    height: 300vh;
    top: -50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border: 2px solid red;
}

.Vinyl-img {
    height: 45%;
    border: 2px solid green;
}