*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vm-homepage {
    background: linear-gradient(15deg, rgba(60, 111, 150, 1) 0%, rgba(120, 195, 251, 1) 51%, rgba(255, 247, 184, 1) 100%);
    background: white;
    height: 880vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.vm-homepage .intro {
    height: 100vh;
    width: 100%;
    position: relative;

}

.intro .title {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.vm-homepage .intro h1 {
    font-size: 21rem;
    color: white;
    text-align: center;
    opacity: 1;
}


.vm-homepage .intro-img {
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.vm-homepage .intro h2 {
    font-size: 5rem;
    color: orange;
    opacity: 1;
    padding-bottom: 5%;
}

.vm-homepage .middle-top {
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.middle-top .text-expo {
    width: 100%;
    height: 100%;
}

.middle-top .text-expo .top-half {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.middle-top .text-expo .top-half .img1 {
    height: 60%;
    width: 80%;
    object-fit: cover;
    position: absolute;
    z-index: 4;
    border-radius: 14px;
}

.middle-top .text-expo .top-half .img2 {
    height: 60%;
    width: 80%;
    position: absolute;
    z-index: 3;
    border-radius: 14px;
}

.middle-top .text-expo .top-half .img3 {
    height: 60%;
    width: 80%;
    position: absolute;
    z-index: 2;
    border-radius: 14px;
}

.middle-top .text-expo .bottom-half {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.middle-top .bottom-half .description-text {
    font-size: 3.5em;
    color: orange;
    padding: 1vw;
    max-width: 80%;
    text-align: center;
    line-height: 1.3;
}

.middle-top .bottom-half .first {
    position: absolute;
    opacity: 1;

}

#lineChildfirst {
    transition: 0.6s ease-in-out;
}

.middle-top .bottom-half .second {
    position: absolute;
}

.middle-top .bottom-half .third {
    position: absolute;
}


.vm-homepage .middle-bottom {
    z-index: 1;
    height: 130vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    padding: 1rem;
}

.middle-bottom h3 {
    height: 10%;
    text-align: center;
    font-size: 3.5em;
    color: white;
    padding: 2rem;
}

.middle-bottom .vinyl-expo {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 4rem;
    box-sizing: border-box;
    padding: 0 2rem 2rem 2rem;
}

.middle-bottom .vinyl-card {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.vinyl-background {
  position: absolute;
  width: 100%; 
  height: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
}



.middle-bottom .full-vinyl {
    width: 100;
    height: 100%;
    position: relative;
  z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    margin-right: 15px;
    transition: 0.5s;
}

.middle-bottom .vinyl-card:hover .full-vinyl{
    transform: scale(1.1);
}

.middle-bottom .vinyl-cover,
.middle-bottom .vinyl-disc {
    aspect-ratio: 1 / 1;
    position: absolute;
}




.middle-bottom .vinyl-cover {
    height: 70%;
    z-index: 3;
    margin-left: -5%;
    box-shadow: -5px 10px 15px black;
}

.middle-bottom .vinyl-disc {
    height: 81%;
    z-index: 2;
    margin-left: 20%;
}


.vm-homepage .image-expo {
    height: 300vh;
    position: relative;

}

.placeholder-img {
    background-color: orange;
    height: 20%;
    width: 30%;
    left: 10%;
    top: 10%;
    position: absolute;
}

.placeholder-text {
    background-color: white;
    color: black;
    height: 10%;
    width: 40%;
    left: 55%;
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}

.placeholder-img-second {
    background-color: orange;
    color: black;
    height: 20%;
    width: 80%;
    left: 10%;
    top: 40%;
    position: absolute;
}

.placeholder-text-second {
    background-color: white;
    color: black;
    height: 10%;
    width: 40%;
    left: 7%;
    top: 72%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}

.placeholder-img-third {
    background-color: orange;
    color: black;
    height: 25%;
    width: 550px;
    left: 50%;
    top: 70%;
    position: absolute;
}

.vm-homepage .footer {
    height: 30vh;
    width: 100%;
}

.footer .top-half {
    background-color: darkgrey;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.footer .infinite-loop {
    height: 100%;
    font-size: 3.2rem;
    display: flex;
    position: relative;
    overflow: hidden;
    font-weight: 800;
    gap: 2rem;
}

.footer .infinite-loop-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    min-width: 100%;
    list-style: none;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

.footer .bottom-half {
    background-color: gray;
    height: 85%;
    display: flex;
    align-items: center;
}

.footer .bottom-half .left-half {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .bottom-half .logo {
    font-size: 18vh;
    font-weight: bolder;
    position: relative;
    left: 5%;
    top: -5%;

}

.footer .bottom-half .right-half {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .bottom-half .right-half .adress,
.footer .bottom-half .right-half .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0.5rem;
}

.footer .bottom-half .right-half .adress {
    width: 60%;
    height: 100%;
}

.footer .bottom-half .right-half .adress h4,
.footer .bottom-half .right-half .socials h4 {
    color: black;
    font-size: 3rem;
    font-weight: bolder;
}

.footer .bottom-half .right-half .adress p,
.footer .bottom-half .right-half .socials p {
    color: darkgray;
    font-size: 1.5rem;
    margin-top: -15px
}

.footer .bottom-half .right-half .socials {
    width: 40%;
    height: 100%;
}

.footer .bottom-half .right-half .socials p:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
    color: orange;
    font-size: 1.5rem;
}

.footer .bottom-half .right-half .socials p:active {
    font-size: 1.5rem;
    transform: scale(0.9);
    transition: transform 0.2s ease;
}



@media (min-width: 2300px) {
    .middle-top .bottom-half .description-text {
        font-size: 5.5em;
    }


    .image-expo .placeholder-text,
    .image-expo .placeholder-text-second {
        font-size: 5.5em;
    }
}


@media (max-width: 650px) {

    .vm-homepage {
        height: 900vh;
    }

    .vm-homepage .intro h1 {
        font-size: 10rem;
        color: white;
        text-align: center;
    }

    .middle-top .bottom-half .description-text {
        font-size: 2.5em;
        transition: 0.4s ease-in-out;
    }


    .image-expo .placeholder-text,
    .image-expo .placeholder-text-second {
        font-size: 5.5em;
    }
}