*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #0B0C08;
  --light: #EDFD5D;
  --darkgrey: darkgrey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 95vh;
  scroll-behavior: smooth;
}
body { 
  font-family: "Arsenal", sans-serif;
  background-color: var(--dark);
  
}
