*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #0B0C08;
  --primary: #c08a24;
  --lighte: rgb(254, 246, 224);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 95vh;
  scroll-behavior: smooth;
}
body { 
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--lighte);
}
